<ion-view view-title="Glossary">
  <style>
  p.term {
    font-weight: 900;
  }
  p.example {
    font-style: italic;
  }
  </style>
  <ion-content>
    <ion-list>
      <div class="card01">
        <div class="item item-divider">
          <p class="term">Adjective</p>
        </div>
          <div class="item item-text-wrap">
            A word that describes something.
          </div>
        <div class="item item-divider">
          <p class="example">Yellow. Big. Awesome.</p>
        </div>
      </div>
</br>
      <div class="card02">
        <div class="item item-divider">
          <p class="term">Noun</p>
        </div>
        <div class="item item-text-wrap">
          A person, place or thing.
        </div>
        <div class="item item-divider">
          <p class="example">John. Hospital. Bed.</p>
        </div>
      </div>
</br>
      <div class="card03">
        <div class="item item-divider">
          <p class="term">Verb</p>
        </div>
        <div class="item item-text-wrap">
          An action that happened.
        </div>
        <div class="item item-divider">
          <p class="example">Jumped. Fell over. Ran.</p>
        </div>
      </div>
</br>
      <div class="card04">
        <div class="item item-divider">
          <p class="term">Adverb</p>
        </div>
        <div class="item item-text-wrap">
          An emotion ending in -ly.
        </div>
        <div class="item item-divider">
          <p class="example">Happily. Sadly. Crazily.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
